@import './base.scss';

.aboutMePage {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	header {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 400px;
		margin-bottom: 60px;
		background-image: url('../assets/background-1.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		img {
			position: absolute;
			border: 0.8rem solid $main-color;
			bottom: -5rem;
			left: 0;
			right: 0;
			margin: 0px auto;
			width: 10rem;
			height: 10rem;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	main {
		width: 100%;
		max-width: 1000px;
		margin: 0px auto;
		h2 {
			margin: 3.5rem 0px;
			margin-left: 12%;
			font-size: 1.8rem;
			color: $second-color;
			font-weight: 900;
			text-transform: uppercase;
		}
		.aboutMe-paragraph {
			width: 80%;
			margin: 0px auto;
			font-size: 1.6rem;
			font-weight: 300;
			color: $second-color;
			margin-bottom: 10px;
		}
	}
	main .technologies-container {
		width: 80%;
		max-width: 660px;
		height: 100px;
		background-color: $main-color-ligth;
		box-shadow: $main-shadow;
		margin: 0px auto;
		border-radius: 4px;
		display: flex;
		column-gap: 30px;
		padding: 0px 20px;
		overflow-x: scroll;
		overscroll-behavior-x: contain;
		scroll-snap-type: x proximity;
		.technology {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			color: $second-color;
			font-size: 1.8rem;
			font-weight: 400;
			scroll-snap-align: center;
		}
	}
}

.container-projects {
	width: 90%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 420px));
	grid-auto-rows: 360px;
	justify-content: center;
	gap: 40px;
	margin: 0px auto 30px auto;
	.project {
		border-radius: 6px;
		box-shadow: $main-shadow;
		background-color: $main-color-ligth;
		display: flex;
		img {
			width: 40%;
			height: 100%;
			object-fit: cover;
		}
	}
	.project-info {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		color: $second-color;
		h2 {
			text-align: center;
			margin: 0px;
			font-size: 1.6rem;
			font-weight: 900;
		}
		p {
			font-size: 1.4rem;
			width: 80%;
			margin: 0px auto;
			font-weight: 200;
		}
		h3 {
			width: 80%;
			font-size: 1.4rem;
			margin: 0px auto;
			font-weight: 500;
		}
		&__technologiesPackage {
			display: flex;
			width: 80%;
			margin: 0px auto;
			column-gap: 10px;
		}
		&__btns {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
		&__btns a {
			width: 80%;
			margin: 0px auto;
			height: 35px;
			background-color: $third-color;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			cursor: pointer;
			font-size: 1.4rem;
			color: $main-color;
			box-shadow: $shadow-third;
			transition-property: background-color;
			transition-duration: 500ms;
			text-decoration: none;
		}
		&__btns a:nth-child(1):hover {
			transition-property: background-color;
			transition-duration: 500ms;
			background-color: $third-color-ligth;
		}
		&__btns a:nth-child(2) {
			background-color: $fourth-color;
			box-shadow: $shadow-fourth;
		}
		&__btns a:nth-child(2):hover {
			background-color: $fourth-color-ligth;
		}
	}
}

.lightMode .aboutMePage {
	header {
		img {
			border: 0.8rem solid $second-color;
		}
	}
	main {
		h2 {
			color: $main-color;
		}
		.aboutMe-paragraph {
			color: $main-color;
		}
	}
	main .technologies-container {
		background-color: $second-color-light;
		box-shadow: $second-shadow;
		.technology {
			color: $main-color;
		}
	}
}

.lightMode .container-projects {
	.project {
		box-shadow: $second-shadow;
		background-color: $second-color-light;
	}
	.project-info {
		color: $main-color;
	}
}
