.general-footer {
	border-top: 1px solid #fff;
	display: grid;
	row-gap: 2rem;
	place-items: center;
	padding: 20px 0px;
	.author-footer {
		width: 100%;
		text-align: center;
		color: $third-color;
		font-size: 1.5rem;
	}
	.container-social-media-footer {
		display: flex;
		justify-content: center;
		column-gap: 16px;
		.social-media-footer {
			width: 4rem;
			height: 4rem;
			border: 1px solid #fff;
			display: grid;
			position: relative;
			place-items: center;
			@include BasicsAnimationSocialMedia;
		}
		.social-media-footer i {
			color: #fff;
			font-size: 2rem;
		}
		.social-media-footer__circle,
		.social-media-footer__line {
			position: absolute;
			background-color: #fff;
		}
		.social-media-footer__circle {
			left: 6px;
			top: 4px;
			width: 0.3rem;
			height: 0.3rem;
			border-radius: 100%;
		}
		.social-media-footer__line {
			right: 8px;
			top: 5px;
			width: 1.8rem;
			height: 1px;
			border-radius: 10px;
		}
		.social-media-footer:hover {
			@include animationSocialMediaHover;
		}
		.social-media-footer:hover i {
			@include animationSocialMediaHoverIcon;
		}
		.social-media-footer:hover div {
			@include animationSocialMediaHoverDivs;
		}
	}
}
