@media (min-width: 630px) {
	html {
		font-size: 66%;
	}
	.home-page-body {
		flex-direction: row;
	}
	.menu {
		width: 84px;
		height: 100vh;
		top: 0px;
		border-radius: 0px;
		box-shadow: none;
		flex-direction: column-reverse;
		border-right: 1px solid $light-color;
		padding: 20px 0px;
		margin: 0;
		img {
			width: 70px;
		}
		ul {
			flex-direction: column;
			row-gap: 30px;
		}
		.active-link::after {
			content: none;
		}
		.active-link::before {
			content: ' ';
			position: absolute;
			right: -4px;
			top: 0px;
			width: 2px;
			height: 100%;
			background-color: $fourth-color;
			box-shadow: $shadow-fourth;
		}
	}

	.home-content footer {
		border-top: none;
	}

	// blog pages

	body {
		flex-direction: row;
	}

	.header-blogs {
		grid-template-columns: repeat(2, minmax(300px, 400px));
		justify-content: center;
		padding: 40px 0px;
		background-color: $second-color;
	}

	.container-articles {
		.article {
			width: 100%;
		}
	}

	// sobre mi

	.sub-titles-about-me {
		margin: 8.6rem 0px 5rem 10%;
	}

	// footer
	.general-footer {
		border-top: none;
		grid-template-columns: repeat(2, minmax(100px, 500px));
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
}

@media (min-width: 900px) {
	html {
		font-size: 70%;
	}

	.container-articles {
		max-width: 1000px;
	}
}
