.menu {
	width: 90%;
	max-width: 320px;
	margin: 0px auto;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 14px;
	border-radius: 40px;
	box-shadow: $shadow-first;
	position: sticky;
	top: 10px;
	background-color: $first-color;
	z-index: 2;

	img {
		width: 75px;
	}
	ul {
		list-style-type: none;
		display: flex;
		column-gap: 20px;
	}

	.links-menu {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		row-gap: 6px;
		position: relative;
		span {
			font-size: 1.5rem;
			font-weight: 100;
		}
		i {
			font-size: 2rem;
		}
	}
	.links-menu:hover i {
		transform: rotate(6deg);
	}
}

.active-link::after {
	@include stylesButtonActiveHome;
}
