*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Arima Madurai", cursive;
  background: #2c292d;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.menu {
  width: 90%;
  max-width: 320px;
  margin: 0px auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 14px;
  border-radius: 40px;
  box-shadow: 1px 1px 20px rgba(24, 24, 24, 0.61);
  position: sticky;
  top: 10px;
  background-color: #2c292d;
  z-index: 2;
}
.menu img {
  width: 75px;
}
.menu ul {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
}
.menu .links-menu {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 6px;
  position: relative;
}
.menu .links-menu span {
  font-size: 1.5rem;
  font-weight: 100;
}
.menu .links-menu i {
  font-size: 2rem;
}
.menu .links-menu:hover i {
  transform: rotate(6deg);
}

.active-link::after {
  content: " ";
  width: 8px;
  height: 8px;
  background-color: #1ea9cd;
  position: absolute;
  bottom: -6px;
  border-radius: 50%;
  box-shadow: 1px 1px 12px #1ea9cd;
}

.home-page-body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.home-content main {
  height: 100%;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
}
.home-content main h1 {
  color: #eae3e3;
  font-size: 2rem;
  width: 80%;
  max-width: 400px;
  text-align: center;
  margin: 0px auto;
}
.home-content main .button-home-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 12rem;
  height: 4rem;
  color: #eae3e3;
  margin: 0px auto;
  background-color: #63caa7;
  border-radius: 30px;
  box-shadow: 1px 1px 12px #63caa7;
  z-index: 1;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 2s;
}
.home-content main .button-home-page:hover {
  transform: scale(1.08);
  transition-property: transform;
  transition-duration: 2s;
}
.home-content main .button-home-page span {
  font-size: 1.4rem;
  font-weight: 700;
}
.home-content main .button-home-page .ri-arrow-right-fill {
  font-size: 1.8rem;
}
.home-content footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid #eae3e3;
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  color: #63caa7;
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.social-media .social-media-box {
  width: 5rem;
  height: 5rem;
  border: 0.1rem solid #eae3e3;
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.social-media .social-media-box div {
  background-color: #eae3e3;
  position: absolute;
}
.social-media .social-media-box__circle {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  top: 3px;
  left: 4px;
}
.social-media .social-media-box__line {
  top: 4px;
  left: 12px;
  width: 30px;
  height: 1px;
  border-radius: 1rem;
}
.social-media .social-media-box i {
  font-size: 2.6rem;
  color: #eae3e3;
}
.social-media .social-media-box:hover {
  background-color: #ffc172;
  transition-property: background-color;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}
.social-media .social-media-box:hover div {
  background-color: #2c292d;
}
.social-media .social-media-box:hover i {
  color: #2c292d;
}

.content {
  width: 100%;
  margin-top: 20px;
}

.header-blogs {
  display: grid;
  padding: 40px 0px;
  background-color: #ffc172;
  row-gap: 30px;
}
.header-blogs .card-header-img {
  display: grid;
  justify-items: flex-start;
  row-gap: 20px;
}
.header-blogs .card-header-img img {
  width: 80%;
  max-width: 400px;
  justify-self: center;
}
.header-blogs .card-header-img h3 {
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: 500;
}
.header-blogs .card-header-description {
  display: grid;
  justify-items: center;
  row-gap: 20px;
  align-items: center;
}
.header-blogs .card-header-description__title {
  font-size: 1.6rem;
  font-weight: 900;
}
.header-blogs .card-header-description__paragraph {
  color: #313131;
  font-size: 1.4rem;
  font-weight: 500;
  width: 90%;
  max-width: 300px;
}
.header-blogs .card-header-description__btn {
  width: 50%;
  max-width: 20rem;
  height: 40px;
  border-radius: 20px;
  background-color: #63caa7;
  box-shadow: 1px 1px 12px #63caa7;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 1;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 2s;
}
.header-blogs .card-header-description__btn:hover {
  transform: scale(1.08);
  transition-property: transform;
  transition-duration: 2s;
}
.header-blogs .card-header-description__btn i {
  font-size: 2rem;
}

.section-articles h2 {
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #eae3e3;
  margin: 20px 0px;
}
.section-articles .section-articles__line {
  width: 90%;
  margin: auto;
  height: 2px;
  background-color: #1ea9cd;
  border-radius: 10px;
}

.container-articles {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 350px));
  grid-auto-rows: 420px;
  gap: 30px 30px;
  justify-content: center;
}
.container-articles .article {
  width: 80%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: auto;
  background-color: #646060;
  overflow: hidden;
  row-gap: 10px;
  box-shadow: 1px 1px 20px rgba(24, 24, 24, 0.61);
}
.container-articles .article__img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.container-articles .article__title {
  text-align: center;
  font-size: 1.5rem;
  color: #eae3e3;
  font-weight: 900;
}
.container-articles .article__paragraph {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 100;
  color: #eae3e3;
}
.container-articles .article__btn {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  column-gap: 10px;
  border-radius: 16px;
  background-color: #63caa7;
  box-shadow: 1px 1px 12px #63caa7;
  font-size: 1.4rem;
  font-weight: 500;
  z-index: 1;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 2s;
}
.container-articles .article__btn:hover {
  transform: scale(1.08);
  transition-property: transform;
  transition-duration: 2s;
}
.container-articles .article__btn i {
  font-size: 2rem;
}
.container-articles .article .article-footer-article {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  align-items: center;
  column-gap: 10px;
  color: #eae3e3;
}
.container-articles .article .article-footer-article img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 100%;
}
.container-articles .article .article-footer-article__description figcaption {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.container-articles .article .article-footer-article__description time {
  font-size: 1rem;
  font-weight: 100;
}

.header-about-me {
  width: 100%;
  height: 350px;
  background-image: url("../../../assets/background.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 80px;
}
.header-about-me img {
  width: 13rem;
  height: 13rem;
  border-radius: 100%;
  object-fit: cover;
  border: 8px solid #2c292d;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -50px;
}

.main-content-about-me h1 {
  color: #eae3e3;
  margin-left: 10%;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.main-content-about-me p {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  color: #eae3e3;
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 26px;
}

.sub-titles-about-me {
  color: #eae3e3;
  font-size: 1.8em;
  margin: 5.6rem 0px 3rem 10%;
  font-weight: 500;
  text-transform: uppercase;
}

.technologies-container {
  width: 80%;
  height: 120px;
  background-color: #646060;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 5px;
  padding: 0px 10px;
  place-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.technologies-container .technologie {
  display: grid;
  place-items: center;
  row-gap: 10px;
  scroll-snap-align: center;
}
.technologies-container .technologie span {
  color: #eae3e3;
  width: 100px;
  text-align: center;
  font-weight: 900;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.technologies-container .technologie .bx {
  font-size: 5rem;
}

.bxl-html5 {
  color: #fc552c;
  text-shadow: 0.5px 0.5px 16px #fc552c;
}

.bxl-css3 {
  color: #2ca9fc;
  text-shadow: 0.5px 0.5px 16px #2ca9fc;
}

.bxl-javascript {
  color: #fccb2c;
  text-shadow: 0.5px 0.5px 16px #fccb2c;
}

.bxl-sass {
  color: #fd389b;
  text-shadow: 0.5px 0.5px 16px #fd389b;
}

.bxl-figma {
  color: #fc4b2c;
  text-shadow: 0.5px 0.5px 16px #fc4b2c;
}

.bxs-terminal {
  color: #39dd41;
  text-shadow: 0.5px 0.5px 16px #39dd41;
}

.bxl-git {
  color: #f1502f;
  text-shadow: 0.5px 0.5px 16px #f1502f;
}

.bxl-github {
  color: #eae3e3;
  text-shadow: 0.5px 0.5px 16px #eae3e3;
}

.container-proyects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
  grid-auto-rows: 400px;
  justify-content: center;
  gap: 40px 40px;
  padding: 0px 20px;
  margin-bottom: 4rem;
}
.container-proyects .proyect {
  width: 100%;
  height: 100%;
  background-color: #646060;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  overflow: hidden;
}
.container-proyects .proyect .proyect-container-img {
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
  background-color: #eee;
}
.container-proyects .proyect .proyect-container-img img {
  width: 100px;
}
.container-proyects .proyect .proyect-paragraph {
  width: 90%;
  color: #eae3e3;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0px auto;
}
.container-proyects .proyect h3 {
  color: #eae3e3;
  margin-left: 10%;
  font-weight: 100;
  font-size: 1.2rem;
}
.container-proyects .proyect__technologies {
  width: 80%;
  margin: 0 auto;
  display: flex;
  column-gap: 6px;
}
.container-proyects .proyect__technologies i {
  font-size: 2.6rem;
  text-shadow: none;
}
.container-proyects .proyect__buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.container-proyects .proyect__buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  width: 12rem;
  font-size: 1.3rem;
  color: #000;
  font-weight: 900;
  height: 40px;
  border-radius: 16px;
  background-color: #63caa7;
  box-shadow: 1px 1px 12px #63caa7;
  z-index: 1;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 2s;
}
.container-proyects .proyect__buttons a:hover {
  transform: scale(1.08);
  transition-property: transform;
  transition-duration: 2s;
}
.container-proyects .proyect__buttons a i {
  font-size: 2rem;
}
.container-proyects .proyect__buttons a:nth-child(2) {
  background-color: #ffc172;
  box-shadow: 1px 1px 12px #ffc172;
}

.general-footer {
  border-top: 1px solid #fff;
  display: grid;
  row-gap: 2rem;
  place-items: center;
  padding: 20px 0px;
}
.general-footer .author-footer {
  width: 100%;
  text-align: center;
  color: #63caa7;
  font-size: 1.5rem;
}
.general-footer .container-social-media-footer {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}
.general-footer .container-social-media-footer .social-media-footer {
  width: 4rem;
  height: 4rem;
  border: 1px solid #fff;
  display: grid;
  position: relative;
  place-items: center;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.general-footer .container-social-media-footer .social-media-footer i {
  color: #fff;
  font-size: 2rem;
}
.general-footer .container-social-media-footer .social-media-footer__circle,
.general-footer .container-social-media-footer .social-media-footer__line {
  position: absolute;
  background-color: #fff;
}
.general-footer .container-social-media-footer .social-media-footer__circle {
  left: 6px;
  top: 4px;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 100%;
}
.general-footer .container-social-media-footer .social-media-footer__line {
  right: 8px;
  top: 5px;
  width: 1.8rem;
  height: 1px;
  border-radius: 10px;
}
.general-footer .container-social-media-footer .social-media-footer:hover {
  background-color: #ffc172;
  transition-property: background-color;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}
.general-footer .container-social-media-footer .social-media-footer:hover i {
  color: #2c292d;
}
.general-footer .container-social-media-footer .social-media-footer:hover div {
  background-color: #2c292d;
}

@media (min-width: 630px) {
  html {
    font-size: 66%;
  }

  .home-page-body {
    flex-direction: row;
  }

  .menu {
    width: 84px;
    height: 100vh;
    top: 0px;
    border-radius: 0px;
    box-shadow: none;
    flex-direction: column-reverse;
    border-right: 1px solid #eae3e3;
    padding: 20px 0px;
    margin: 0;
  }
  .menu img {
    width: 70px;
  }
  .menu ul {
    flex-direction: column;
    row-gap: 30px;
  }
  .menu .active-link::after {
    content: none;
  }
  .menu .active-link::before {
    content: " ";
    position: absolute;
    right: -4px;
    top: 0px;
    width: 2px;
    height: 100%;
    background-color: #1ea9cd;
    box-shadow: 1px 1px 12px #1ea9cd;
  }

  .home-content footer {
    border-top: none;
  }

  body {
    flex-direction: row;
  }

  .header-blogs {
    grid-template-columns: repeat(2, minmax(300px, 400px));
    justify-content: center;
    padding: 40px 0px;
    background-color: #ffc172;
  }

  .container-articles .article {
    width: 100%;
  }

  .sub-titles-about-me {
    margin: 8.6rem 0px 5rem 10%;
  }

  .general-footer {
    border-top: none;
    grid-template-columns: repeat(2, minmax(100px, 500px));
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 70%;
  }

  .container-articles {
    max-width: 1000px;
  }
}

/*# sourceMappingURL=index.css.map */
